<div class="bg-linear-to-b from-red-950 to-#101010 flex-col flex">
    <h1 class="p-10 text-5xl font-bold italic flex justify-center">
        Manuel Alonso González
    </h1>
    <h3 class="flex justify-center italic">
        Estudiante de Grado en Informática en Ingeniería del Software en la&nbsp;<a class="underline hover:text-red-700" href="https://www.unex.es">Universidad de Extremadura</a>
    </h3>
</div>